In [7]:
import pandas as pd
import numpy as np

In [3]:
import seaborn as sns
planets = sns.load_dataset("planets")

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
planets.shape

(1035, 6)

In [5]:
planets.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [6]:
planets[0:8]

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008
6  Radial Velocity       1        1773.400   4.64     18.15  2002
7  Radial Velocity       1         798.500    NaN     21.41  1996

In [7]:
planets[['orbital_period','mass']]

      orbital_period   mass
0         269.300000   7.10
1         874.774000   2.21
2         763.000000   2.60
3         326.030000  19.40
4         516.220000  10.50
...              ...    ...
1030        3.941507    NaN
1031        2.615864    NaN
1032        3.191524    NaN
1033        4.125083    NaN
1034        4.187757    NaN

[1035 rows x 2 columns]

In [11]:
planets.iloc[1:4,2:4]

   orbital_period   mass
1         874.774   2.21
2         763.000   2.60
3         326.030  19.40

In [12]:
for i in range(len(planets)):
    if i<8:
        planets['mass'].iloc[i] = planets['mass'].iloc[i]/4
    else:
        planets['mass'].iloc[i]/8

/Users/vibhutivadje/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
planets.head()

            method  number  orbital_period    mass  distance  year
0  Radial Velocity       1         269.300  1.7750     77.40  2006
1  Radial Velocity       1         874.774  0.5525     56.95  2008
2  Radial Velocity       1         763.000  0.6500     19.84  2011
3  Radial Velocity       1         326.030  4.8500    110.62  2007
4  Radial Velocity       1         516.220  2.6250    119.47  2009

In [15]:
planets[planets['year']==2007].head()

             method  number  orbital_period   mass  distance  year
3   Radial Velocity       1          326.03  4.850    110.62  2007
21  Radial Velocity       5          261.20  0.172     12.53  2007
30          Imaging       1             NaN    NaN    165.00  2007
53  Radial Velocity       1         1251.00    NaN     31.12  2007
55  Radial Velocity       1          136.75  2.800     62.66  2007

In [18]:
planets = planets.dropna()
planets.head()

            method  number  orbital_period    mass  distance  year
0  Radial Velocity       1         269.300  1.7750     77.40  2006
1  Radial Velocity       1         874.774  0.5525     56.95  2008
2  Radial Velocity       1         763.000  0.6500     19.84  2011
3  Radial Velocity       1         326.030  4.8500    110.62  2007
4  Radial Velocity       1         516.220  2.6250    119.47  2009

<B>What is the difference between size() & count() in pandas? </B>
- size includes NaN values, count does not:

In [21]:
planets.groupby('method').count()

                 number  orbital_period  mass  distance  year
method
Radial Velocity     497             497   497       497   497
Transit               1               1     1         1     1

In [22]:
planets.groupby('method').size()

method
Radial Velocity    497
Transit              1
dtype: int64

In [23]:
planets.groupby('method').nunique()

                 number  orbital_period  mass  distance  year
method
Radial Velocity       6             494   368       356    21
Transit               1               1     1         1     1

Groupby one column

In [26]:
planets.head()

            method  number  orbital_period    mass  distance  year
0  Radial Velocity       1         269.300  1.7750     77.40  2006
1  Radial Velocity       1         874.774  0.5525     56.95  2008
2  Radial Velocity       1         763.000  0.6500     19.84  2011
3  Radial Velocity       1         326.030  4.8500    110.62  2007
4  Radial Velocity       1         516.220  2.6250    119.47  2009

In [25]:
planets.groupby('year')['mass'].sum().head()

year
1989    11.6800
1995     0.4720
1996     7.9176
1997     1.0400
1998    13.4356
Name: mass, dtype: float64

In [27]:
planets.groupby('method')['mass'].sum().head()

method
Radial Velocity    1209.73388
Transit               1.47000
Name: mass, dtype: float64

<B>Q Find the sum of mass by method and year</B>

In [30]:
planets.groupby(['method','year'])['mass'].sum()

method           year
Radial Velocity  1989     11.68000
                 1995      0.47200
                 1996      7.91760
                 1997      1.04000
                 1998     13.43560
                 1999     45.31300
                 2000     50.86220
                 2001     37.74000
                 2002    118.57600
                 2003     80.54100
                 2004     21.81400
                 2005     68.13250
                 2006     30.67100
                 2007     60.98700
                 2008    141.98908
                 2009    213.79900
                 2010     52.87400
                 2011    107.16660
                 2012     83.60630
                 2013     58.05700
                 2014      3.06000
Transit          2013      1.47000
Name: mass, dtype: float64

<B>Q Find the average orbital period and average distance of different method and year</B>

In [32]:
planets.groupby(['method','year'])['distance','orbital_period'].mean()

/var/folders/sm/s1c_5v5j7sl617hdxq8w6ftw0000gn/T/ipykernel_36114/1837625207.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  planets.groupby(['method','year'])['distance','orbital_period'].mean()

                        distance  orbital_period
method          year
Radial Velocity 1989   40.570000       83.888000
                1995   15.360000        4.230785
                1996   13.920000      275.145383
                1997   17.430000       39.845000
                1998   26.302000      114.310661
                1999   29.795000      591.477789
                2000   28.340000      572.027671
                2001   37.212727      792.019727
                2002   44.396129     1003.144581
                2003   44.505909      789.289313
                2004   42.712000      787.419733
                2005   46.361471      620.300633
                2006   44.394500      785.564764
                2007   62.292593      478.827107
                2008   56.967674      741.466230
                2009   59.569143     1381.749559
                2010   49.539268      819.593669
                2011   59.772889      603.793312
                2012   64.977826     1965.938509
                2013   54.013929      370.173204
                2014   44.510000     3639.500000
Transit         2013  178.000000        2.703390

<B>Sort Values</B>

In [33]:
planets.groupby(['method','year'])['distance','mass'].mean().sort_values(['method','year'], ascending=True)

/var/folders/sm/s1c_5v5j7sl617hdxq8w6ftw0000gn/T/ipykernel_36114/1180161972.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  planets.groupby(['method','year'])['distance','mass'].mean().sort_values(['method','year'], ascending=True)

                        distance       mass
method          year
Radial Velocity 1989   40.570000  11.680000
                1995   15.360000   0.472000
                1996   13.920000   1.979400
                1997   17.430000   1.040000
                1998   26.302000   2.687120
                1999   29.795000   3.236643
                2000   28.340000   3.633014
                2001   37.212727   3.430909
                2002   44.396129   3.825032
                2003   44.505909   3.660955
                2004   42.712000   1.454267
                2005   46.361471   2.003897
                2006   44.394500   1.533550
                2007   62.292593   2.258778
                2008   56.967674   3.302072
                2009   59.569143   3.054271
                2010   49.539268   1.289610
                2011   59.772889   1.190740
                2012   64.977826   3.635057
                2013   54.013929   2.073464
                2014   44.510000   1.530000
Transit         2013  178.000000   1.470000

In [4]:
planets.head(5)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

<B>Using pivot table in pandas</B>

In [9]:
planets = planets.dropna()

In [10]:
pivot_df = pd.pivot_table(planets, index=['year'],columns='method',values='distance',aggfunc = np.sum).reset_index()
pivot_df.head()

method  year  Radial Velocity  Transit
0       1989            40.57      NaN
1       1995            15.36      NaN
2       1996            55.68      NaN
3       1997            17.43      NaN
4       1998           131.51      NaN